.search-bar{
    margin:2rem 0;
    position:relative;
}
#btn{
    background-color:rgb(75, 0, 130);
    position:absolute;
    right:0.1%;
    padding:1rem 1.7rem;
    z-index: 3;
}
@media(max-width:426px){
    #btn{
        padding:1rem 0.6rem;
    }
}


